<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start"><ion-menu-button></ion-menu-button></ion-buttons>
    <ion-title>Página Inicial</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="perfil">
    <img src="assets/foto.jpg" alt="Foto 2x2" class="foto" />
    <h2>{{ nombre }} {{ apellido }}</h2>
    <p><strong>Nombre:</strong> {{ nombre }}</p>
    <p><strong>Apellido:</strong> {{ apellido }}</p>
    <p><strong>Correo:</strong> {{ correo }}</p>
  </div>
</ion-content>